.center{
    width: 80vw;
    margin: auto;
    display: block;
    height: 80vh;
    text-align: center;
    transform: translate(0%,10%);
}

.center .imag{
    width: 100px;
    height: 500px;
    object-fit: cover;
    transition: 1s;
    border-radius: 20px;
}

.center .back{
    width: 600px;
}