*{
padding: 0;
margin: 0;

}
body{
    background: linear-gradient(135deg,rgb(219, 37, 143),rgb(196, 45, 251));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.display{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.hours,.minut,.second,.mili{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;
    margin: 2px;


}
.dot{
    font-size: 20px;
    font-weight: bold;
}
.button{
    text-align: center;

}
button{
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    
}