.center{
    width: 80vw;
    margin: auto;
    display: block;
    
   

}
body{
    background-color: #eee;
}
.center button{
    padding:10px 20px;
    background-color: rgb(61, 0, 51);
    border: none;
    cursor: pointer;
    margin:0px  30px 20px 0px;
    text-transform: capitalize;
    border-radius: 10px;
    color: white;
    transition: .5s linear;

}
.btns{
    text-align: center;
}
.center button:hover{
    background-color:rgb(136, 40, 120) ;
}
h3{
    color: rgb(61, 0, 51);
    text-align: center;

    margin-bottom: 10px;
    font-size: 30px;
    animation: scal 1s linear;

}
@keyframes scal{
    0%,100%{
        transform: scale(1);
        
    }
    50%{
        transform: scale(1.1);
    }
}
.allimage{
   width: 100vw;
}
.allimage img{
    width: 320px;
    height: 300px;
    margin: 5px ;
    object-fit: cover;
}
