:root{
    --dark-color:#0d6efd;
    --green-color:#33d1cc;
    --red-color:#ff3150;
    --yellow-color:#ffc400;
    --section-color:#eff7fa;
    --main-color: #2196f3;
    --main-background: #ececec;
  
}

.navbar{
   width: 80%;
   margin: auto;
   z-index: 10;
}
.fixed{
    position: fixed;
    width: 100%;
    z-index: 10;
    
}
.navbar img {
    width: 150px ;
    cursor: pointer;
}
.button svg{
    color: #000;
}
.main-btn{
    background-color: var(--dark-color);
}
.navbar li a{
    color: white;
    font-size: 1.1rem;
    transition: 0.5s;
    justify-content: center;
}
.links{
    position: absolute;
    right: 0;
}
.register{
  margin-left: 10px;
}
@media (max-width:991px) {
    .links{
        display: none;
    }

    .links_container {
        width: 100%;
    background-color: #fff;
    display: block;
    padding: 10px;
    position: absolute;
    top: 70px;
    z-index: 2;
    }
    
    .links_container  li {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    }

    .links_container::after{
    content: "";
    position: absolute;
    border-color: transparent transparent #fff transparent;
    border-width: 10px;
    border-style: solid;
    top: -20px;
    right: 3px;   
    z-index: 2;
 }

    .navbar li a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    }
    .register{
      margin-left: 0;
    }

}

/* begin home */
   
 
  .carousel-inner img{
    height: calc(100vh - 10px );
  }
  .carousel-caption{
    color: black;
    font-size: 20px;
  }
  .service{
    background-color: var(--main-background);
    
  }
  .service a{
    color: black;
  } 
  .service  a h3{
    padding-left: 10px;
  }
  .service a {
    background-color: white;
    width: 100%;
   
  }

/* end home */

/* begin about as */
.image{
    height:90%;
}
/* Start Team */
.team {
    background-color: var(--main-background);
  }

  .team .box h4 {
    background-color: var(--dark-color);
  }
/* end about as */


/* begin contact */


/* end contect */
.doctor{
    background-color: #dfe1e6;
    min-height: 100vh;
}
.doctor_list  {
    list-style: none;

}
.doctor_list  li{ 
    display: inline-block;
    cursor: pointer;
    padding: 10px  7px ;
    
    
}
.doctor .chose li.active{
    border-bottom: 2px solid  var(--dark-color);
}
.doctor .chose li:hover{
    border-bottom: 2px solid  var(--dark-color);
    color: var(--dark-color) ;
}
.doctor img{
   width: 700px;
}
.doctor span{
    width: 90% ;
    background-color: #000;
    height: 1px;
   display: flex;
  margin: auto;
}
.facebook{
    background-color: rgb(24, 119, 242);
}
.twitter {
    background-color: rgb(29, 161, 242);
}
.link{
    background-color: rgb(0, 119, 181);
}
.youtube{
    background-color: red;
}
.instagram{
    background-color: var(--green-color);
}
.design-doctor li{
    cursor: pointer;
}
.design-doctor img{
    height: 300px;
    
   
}
.footer{
    background-color: white;
    max-height: 100vh;
    padding-top: 10px;
    padding-bottom: 50px;
}

.footer .doc .first{
    color: var(--dark-color);
}
.follow li{
    cursor: pointer;
}